 @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

 body {
     margin : 0;
 }

 header {
     width: 100%;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     align-items: center;
     justify-content: space-between;
 }

 div#logoContainer {
    height: 100px;
    width: 230px;
    flex: 2 0 230px;
    display: flex;
    align-items: center;
    
 }

 img.logo {
     margin-left: 20px;
     height: 50px;
     width: 100px;
 }

 div#menuContainer {
     height: 70px;
     width: 300px;
     display: flex;
     justify-content: space-evenly;
 }

 @media (max-width: 700px) {
     div#menuContainer {
         order: 3;
         width: 100%;
     }
 }

 a.menuLink {
     box-sizing: border-box;
     display: block;
     height: 70px;
     color: black;
     text-decoration: none;
     line-height: 70px;
     text-align: center;
     border-top: 4px solid transparent;
     border-bottom: 4px solid transparent;
 }

 a.menuLink.active {
     color:#0065FC ; 
     border-top: 4px solid #0065FC;
 }

 @media (max-width: 700px)  {
     a.menuLink {
         width: 50%;
         border-bottom: 4px solid lightgray;
     }
     a.menuLink.active {
         border-top: 4px solid transparent;
         border-bottom: 4px solid #0065FC;
     }
 }

a#registerContainer {
    display: block;
    height: 70px;
    width: 120px;
    color:#0065FC;
    text-decoration: none;
    line-height: 70px;
    text-align: center;
}

/* fin header */ 

section {
    margin-left: 20px;
}

@media (max-width: 700px)  {
    .vac {
        width: 80%;
        text-align: center;
<<<<<<< HEAD
        }
    }
=======
        
    }
}
>>>>>>> db86bf6e3d3cf03e2ff20447847532671f2fd7d6
