/****************** desktop ***************/
/******************************************/

body{
  font-family: Raleway, Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}


header{
  display: flex;
  width: 100%;
}

.logoreservia {
  padding: 0rem 1rem ;
}

.logoreservia img {
  height: 55px;
  width: 130px;
  object-fit: cover;
}

/*** MENU SETTINGS *****/
/***********************/

  
nav a {
  padding: 30px 50px;
  text-decoration: none;
  color: black;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
}
  
nav a:hover {
  border-top: 3px solid var(--couleur3) ;
  color: var(--couleur3);
}
  


/******** MAIN CONTENT ********/
/******************************/
main {
  display: flex;
}

.maincontainer{
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
}

.maincontainer section h1{
  /* width: 100%; */
  /* margin: 1rem; */
  display: flex;
  font-size: 1.1em;
  /* border: 1px solid; */
}

.maincontainer section h1 i{
  margin-right: 5%;
}

/***** HEBERGEMENT ****/



#hebergements article{
  width: 340px;
  height: 240px;
  margin: 1rem;
  border-radius: 1rem;
  box-shadow: var(--ombre);
  transition: scale, 0.2s ease-in;
}

#hebergements article:hover{
  transform: scale(1.02);
}

#hebergements article img{
  width: 95%;
  padding: 0.5rem;
  height: 140px;
  object-fit: cover;
  border-radius: 1.1rem 1.1rem 0rem 0rem;
}

.hostcontent, h2, p{
  margin: 0;
  padding: 0rem 0.2rem;
}

.afficherp {
  color: black;
  text-decoration: none;
}

/*** POPULAIRES ***/

#populaires{
  background: var(--couleur4);
}

#populaires article {
  display: flex;
  height: 140px;
  background-color: white;
  padding: 0.2rem;
  margin: 2rem 1rem;
  border-radius: 1rem;
  box-shadow: var(--ombre);
}

#populaires article img {
  width: 30%;
  padding: 0.2rem;
  object-fit: cover;
  border-radius: 1rem 0 0 1rem;
}

#populaires article * {
  margin: 0;
}

#populaires h2 {
  font-size: 1.3rem;
}

#populaires article p {
  margin: 0rem;
}

#populaires article .content{
  padding: 0.5rem
}

/*** ACTIVITY ***/

/* .activite{
  padding-bottom: 1rem;
} */

.activite{
  display: block;
  }

/**** FOOTER ****/
footer ul li span {
  font-weight: bold;
  font-size: 1.3rem;
}

footer a {
  text-decoration: none ;
  color: rgb(41, 41, 41);
}


.activite article:nth-of-type(1) {
    grid-area: image1;
}
.activite article:nth-of-type(2) {
    grid-area: image2;
}
.activite article:nth-of-type(3) {
    grid-area: image3;
}
.activite article:nth-of-type(4) {
    grid-area: image4;
}
.activite article:nth-of-type(5) {
    grid-area: image5;
}
.activite article:nth-of-type(6) {
    grid-area: image6;
}

.activite h1 {
    grid-area: titre;
}

.activite article {
    width: 100%;
    height: 100%;
    /* max-width: 310px; */
    margin: auto;
    background: white;
    border-radius: 1rem;
    box-shadow: var(--ombre);
}



.activite h2 {
    height: 2rem;
    padding-left: .5rem;
    /* border: 1px solid; */
    /* margin: 0; */
    display: flex;
    align-items: center;
}





/********** smarthphone **********/
/*********************************/


  header {
    flex-wrap: wrap;
  }

  .logoreservia {
    width: 100%;
    display: flex;
  }

  .respsignup{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding: 1.5rem;
    text-decoration: none;
    color: var(--couleur3);
    font-weight: 600;
  }


  nav a {
    width: 100%;
    height: 50px;
    display: flex;
    border-bottom: 3px rgb(231, 231, 231) solid;
    border-top: 3px transparent;
    justify-content: space-around;
  }

  nav a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    color: black;
    padding: 10px 20px;
    width: 100%;
  }

  nav a:hover{
    border-bottom: 3px solid var(--couleur3);
    margin: -3px;
  }

  a#registerContainer {
    display: block;
    height: 70px;
    width: 100%;
    color: var(--couleur3);
    text-decoration: none;
    line-height: 70px;
    text-align: center;
    padding-top: 15px;
  }

  .para {
    width: 100%;
    font-size: smaller;
    display: inline-flex;
  }

  .para i {
    margin-right: 10px;
    height: 25px;
    width: 35px;
  }

  .maincontainer{
  display: flex;
  width: 100%;
  flex-direction: column-reverse;
  } 

  #populaires{
    width: 100%;
    padding: 1rem;
    background-color: var(--couleur4);
    max-width: 100%;
  }

  #populaires article {
    display: flex;
    width: 100%;
    height: 110px;
    padding: 0.2rem;
    margin: 1rem 0rem;
  }
  
  #populaires article img{
    border:3px solid white;
    object-fit: cover;
    width: calc(100% - 6px);
    border-radius: 1rem  1rem 0 0;
  }
  
  #populaires article {
    display: flex;
    width: 100%;
    height: 110px;
    padding: 0.2rem;
    /* max-width: 95vw; */
  }
  
  #populaires article * {
    margin: 0;
  }
  
  #populaires h2 {
    font-size: 1.3rem;
    padding-left: 10px;
  }
  
  #populaires article img {
    width: 30%;
    object-fit: cover;
    border-radius: 1rem 0 0 1rem;
  }
  
  #populaires article p {
    margin: 0rem;
    padding-left: 10px;
  }
  
  #populaires article .content{
    padding: 0.5rem
  }
  
  #hebergements {
    background-color: white;
  }

  #hebergements article {
    /* width: 100%; */
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem;
  }

  #hebergements article img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border: none;
    margin: 0;
    padding:0;
  }

  #hostcontent , h2 , p {
    margin:0;
  }

  .activite {
    width: 100%;
  }

  .activite article {
    width: 100%;
    /* margin-right: auto; */
    /* margin-left: auto; */
    margin-top: 1rem;
    /* padding: 0.5rem; */
    height: 240px;
    max-width: calc(100vw - 2rem);
  }

  .activite article img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border: none;
  }

  footer {
   display: flex;
   flex-direction: column ; 
  }

footer a {
  text-decoration: none ;
  color: rgb(41, 41, 41);
}


nav {
    display: grid;
    grid-template-areas:
        "logo inscrire"
        "hebergement activite";
    width: 100%;
    grid-template-columns: 50% 50%;
    justify-items: center;
}

nav img {
    grid-area: logo;
    width: 50%;
    place-self: flex-start;
}

nav a:nth-of-type(1) {
    grid-area: hebergement;
}
nav a:nth-of-type(2) {
    grid-area: activite;
}
nav a:nth-of-type(3) {
    grid-area: inscrire;
    color: var(--couleur3);
    font-weight: 600;
    border: transparent;
}



/************** tablette *************/
/*************************************/

@media screen and (min-width: 768px) {

nav {grid-template-areas:
"logo hebergement activite inscrire";grid-template-columns: 40% 20% 20% 20%;}

section#hebergements{
  display:flex;
  flex-wrap:wrap;
}


  header {
      display: flex;
  }

  .logoreservia {
    height: 55px;
    width: 130px;
    object-fit: cover;
  }


  .respsignup {
    display: none;
  }

 

  nav a {
      text-decoration: none;
      color: black;
      border-top: 3px solid transparent;
      border-bottom: 3px solid transparent;
      padding: 30px 20px;
  }
    
  nav a:hover {
      border-top: 3px solid var(--couleur3) ;
      color: var(--couleur3);
  }
    
  nav span {
      color: var(--couleur3);
      font-weight: 600;
  }




  footer a {
    text-decoration: none;
    color: black;
  }

  .activite{
  display: grid;
  grid-template-areas:
  "titre titre titre titre"
  "image1 image2 image4 image5"
  "image1 image2 image4 ."
  "image1 . image4 image6"
  "image1 image3 image4 image6";
  grid-template-rows: auto 14rem 3rem 3rem 14rem;
  grid-column-gap: 1rem;
  }

  .activite article{
    height:100%;
  }
.activite article img {
    width: 100%;
    height: calc(100% - 3rem);
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
}
}

@media screen AND (min-width:1024px){
    .maincontainer{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }

    #hebergements{
  width: 75%;
  background-color: var(--couleur4);
  display: flex;
  border-radius: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}
  #populaires{
  background: var(--couleur4);
  border-radius: 1rem;
  /* margin: 0rem 1rem; */
  max-width: 350px;
  width: 39%;
}
#hebergements article {
  max-width:300px;
}
}




