header {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas:
    "logo inscrire"
    "hebergements activites";
  justify-items: stretch;
}


img.logo {
  margin-left: 20px;
  height: 50px;
  width: 100px;
  grid-area: logo;
}


.filter {
  margin-right: 10px;
}


.filter::before {
  font-weight: bold;
  background-color: var(--couleur1);
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  margin-left: -1.5px;
  margin-right: 1rem;
  font-family: Raleway;
  color: var(--couleur3);
}

.parent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 25px;
}

.filter {
  display: flex;
  border: 2px solid var(--couleur2);
  width: fit-content;
  align-items: center;
  border-radius: 1.5rem;
  padding-right: 1rem;
  margin-right: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

.filtres {
  margin: 0;
  margin-right: 20px;
  margin-bottom: 10px;
}

@media screen AND (max-width: 768px) {
  .filtres {
    width: 100%;
  }

  .filter {
    margin-right: 10px;
  }
}

.eco:before {
  font-family: "Font Awesome 5 free";
  content: "\f53a";
}

.famille:before {
  font-family: "Font Awesome 5 free";
  content: "\f1ae";
}

.romantique:before {
  font-family: "Font Awesome 5 free";
  content: "\f004";
}

.animaux:before {
  font-family: "Font Awesome 5 free";
  content: "\f6d3";
}

i.fa-info {
  border: 0.5px solid var(--couleur2);
  width: fit-content;
  align-items: center;
  padding-left: 0.5rem;
  border-radius: 0.5rem;
  padding-right: 0.5rem;
  color: #0065fc;
}

a.menuLink:first-of-type {
    grid-area: hebergements;
}

a.menuLink:nth-of-type(2) {
    grid-area: activites;
}

a#registerContainer {
    grid-area: inscrire;
}

a.menuLink {
  box-sizing: border-box;
  display: block;
  height: 70px;
  color: black;
  text-decoration: none;
  line-height: 70px;
  text-align: center;
  border-top: 4px solid transparent;
  border-bottom: 4px solid var(--couleur4);
}

a.menuLink.active {
  border-bottom: 4px solid var(--couleur3);
  color: var(--couleur3);
}

@media (min-width: 700px) {
  a.menuLink {
    border-top: 4px solid var(--couleur3);
  }

  a.menuLink.active {
    border-bottom: 4px solid transparent;
    border-top: 4px solid var(--couleur3);
  }
}

a#registerContainer {
  display: block;
  height: 70px;
  width: 120px;
  color: var(--couleur3);
  text-decoration: none;
  line-height: 70px;
  text-align: center;
  padding-left: 70px;
}