footer {
    background-color: #F2F2F2;
    padding-top: 1rem;
}
footer ul::before {
    font-size: 1.2em;
    font-weight: bold;    
    content: attr(aria-label);
}

li {
    list-style-type: none;
    margin-top:.5rem;
}

footer {
    display: flex;
    justify-content: space-around;
  }
  
  footer ul li {
    padding: 0.5rem 0rem;
  }