@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

body {
  margin: 0;
  font-family: Raleway;
 padding: 0;
}

/* Header */

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

div#logoContainer {
  height: 100px;
  width: 230px;
  max-width: 50%;
  flex: 2 0 230px;
  display: flex;
  align-items: center;
}

img.logo {
  margin-left: 20px;
  height: 50px;
  width: 100px;
}

div#menuContainer {
  height: 70px;
  width: 300px;
  display: flex;
  justify-content: space-evenly;
}

main {
  display: block;
}

main div.containers {
  display: flex;
  flex-direction: row;
}

a.menuLink {
  box-sizing: border-box;
  display: block;
  height: 70px;
  color: black;
  text-decoration: none;
  line-height: 70px;
  text-align: center;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}

a.menuLink.active {
  color: #0065fc;
  border-top: 4px solid #0065fc;
}

@media (max-width: 700px) {
  a.menuLink {
    width: 50%;
    border-bottom: 4px solid #f2f2f2;
  }

  a.menuLink.active {
    border-top: 4px solid transparent;
    border-bottom: 4px solid #0065fc;
  }
}

a#registerContainer {
  display: block;
  height: 70px;
  width: 120px;
  color: #0065fc;
  text-decoration: none;
  line-height: 70px;
  text-align: center;
}

/* fin header */



/* trouvez votre hebergements pour des vacences de rêves jusqu'à i */ 

.filter {
  margin-right: 10px;
}

:root {
  --couleur1: #deebff;
  --couleur2: #d9d9d9;
  --couleur3: #0065fc;
}

.filter::before {
  font-weight: bold;
  background-color: var(--couleur1);
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  margin-left: -1.5px;
  margin-right: 1rem;
  font-family: Raleway;
  color: var(--couleur3);
}

.parent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 25px;
}

.filter {
  display: flex;
  border: 2px solid var(--couleur2);
  width: fit-content;
  align-items: center;
  border-radius: 1.5rem;
  padding-right: 1rem;
  margin-right: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

.filtres {
  margin: 0;
  margin-right: 20px;
  margin-bottom: 10px;
}

@media screen AND (max-width: 768px) {
  .filtres {
    width: 100%;
  }

  .filter {
    margin-right: 10px;
  }
}

.eco:before {
  font-family: "Font Awesome 5 free";
  content: "\f53a";
}

.famille:before {
  font-family: "Font Awesome 5 free";
  content: "\f1ae";
}

.romantique:before {
  font-family: "Font Awesome 5 free";
  content: "\f004";
}

.animaux:before {
  font-family: "Font Awesome 5 free";
  content: "\f6d3";
}

i.fa-info {
  border: 0.5px solid var(--couleur2);
  width: fit-content;
  align-items: center;
  padding-left: 0.5rem;
  border-radius: 0.5rem;
  padding-right: 0.5rem;
  color: #0065fc;
}

.para {
  font-size: 1rem;
}

i.fas.fa-map-marker-alt {
  background-color: #f2f2f2;
  text-align: center;
  height: 50px;
  width: 50px;
  vertical-align: middle;
  line-height: 50px;
}

input#searchcity {
  height: 50px;
  width: 220px;
  max-width: 72%;
  border: none;
  border-top: 2px solid #f2f2f2;
  border-bottom: 2px solid #f2f2f2;
  padding: 0px;
  box-sizing: border-box;
}

input::placeholder {
  font-weight: bold;
  font-size: 1.1rem;
  color: #1b1b1b;
  padding-left: 30px;
}

.button {
  background-color: #0065fc;
  color: #fdfeff;
  height: 50px;
  font-family: Raleway;
  font-size: 1.2rem;
  border: none;
  padding-right: 15px;
  padding-left: 15px;
}

button.button:after {
  content: "\f002";
  font-family: "Font Awesome 5 Free";
  color: white;
  font-weight: bold;
}

@media (max-width: 700px) {
  div#menuContainer {
    order: 3;
    width: 100%;
  }
}

@media screen AND (min-width: 768px) {
  .button {
    border-radius: 14px;
  }

  button.button:after {
    content: "rechercher";
    font-family: "Raleway";
    font-weight: initial;
  }

/* Hebergement et populaires */

#hebergements {
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
  border: solid 1px red;
  margin-right: 5rem;
}

#populaires {
  background-color: #f2f2f2;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  border: solid 1px green;
  font-size: 0.8rem;
}

@media screen AND (max-width: 768px) {
  main div.containers {
    flex-direction: column-reverse;
  }


}

/** 
@media screen AND (max-width: 768px) {
  #hebergements.grid-container-3 {
    {
    display: grid;
    grid-template-columns: repeat(1 ) 
  }
}

*/

#hebergements .grid-container-3 {
  row-gap: 20px;
  column-gap: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#populaires article {
  display: grid;
  grid-template-columns: 30% 70%;
  height: 10rem;
  width: 200px;
}

#populaires article img {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: span 3;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem 0 0 1rem;
}

article {
  background-color: white;
  margin-bottom: 1rem;
  width: 350px;
  max-width: 500px;
}

section {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

section#informations {
  flex-direction: column;
}

article img {
  border: 3px solid white;
  border-radius: 1rem 1rem 0 0;
  width: 100%;
}

.stars {
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
}

.stars::before {
  color: #0065fc;
}

.stars::after {
  color: grey;
}

.threeStars::before {
  content: "\f005\f005\f005";
}

.threeStars::after {
  content: "\f005\f005";
}

.fourStars::before {
  content: "\f005\f005\f005\f005";
}

.fourStars::after {
  content: "\f005";
}

.fiveStars::before {
  content: "\f005\f005\f005\f005\f005";
}

@media (max-width: 700px) {
  .vac {
    width: 80%;
    text-align: center;
  }
}

.nature {
  font-family: Raleway;
  
}

.div {
  margin-top: 30px;
  height: 50px;
  display: flex;
  max-width: 100%;
  border-radius: 14px;
  overflow: hidden;
}


  main {
    flex-direction: initial;
  }


#hotel {
  font-size: 0.6rem;
  text-align: initial;
}

#marseille {
  width: 100%;
}

#afficher {
  width: 100%;
}

.auberge {
  width: 100%;
  height: auto;
}

#pop {
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.responsive-img {
  height: 130px;
  overflow: hidden;
  
}

#acti {
  width: 100%;
}


/*fin hebergement fin populaire */


.bloc 
{
  display: grid;
}